/***************** Item Page CSS **************************/


* {
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}

.a1{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right:6px;
    color:#03a685;
}
.a2{
    margin-right:2px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-decoration-color: #f54e77;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.a3{
    margin-right:2px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.a4{
    margin-right:2px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.a5{
    margin-right:2px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.a6{
    margin-right:2px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.a7{
    margin-right:2px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.a8{
    margin-right:2px;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}
.myshop_home {
    height: 80px;
    width: 100px;
    margin-right: 10px;
}
.logo_container {
    margin-left: 4%;
    margin-right: 10px;
}
.action_bar {
    margin-right: 4%;
}
.nav_bar {
    display:flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_bar a {
    font-size: 15px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:dotted;
    padding: 28px 0;
    border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
    border-bottom: 5px solid #f54e77;
}

.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
    
    
}

.search_bar {
    height: 80px;
    min-width: 150px;
    width: 30%;
    display:content;
    align-items: center;
    margin-left: 100px;
    margin-right: 20px;
  
    
}
.search_icon {
    box-sizing:content-box;
    height: 20px;
    padding: 10px;

    background-color:rgb(255, 255, 255);
    color: #282c3f;
    font-weight: 400;
    border: 0;
    border-color: crimson;
    border-radius: 3px 0 0 3px;
    margin-right: 0px;
    margin-left: 150px;
    margin-top: 0px;
}
.search_input {
    color: #696e79;
    background-color:lemonchiffon;
    flex-grow: 10;
    height: 30px;
    border: 0;
    border-color: crimson;
    border-radius: 0 5px 5px 0;
}

.action_bar {
    display:flex;
    min-width: 200px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 0px;
    justify-content: space-evenly;
}

.action_container {
    display:-webkit-inline-flex;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(10deg);
    flex-direction: column;
    align-items: center;
}

/* Main section */
.banner_container {
    margin: 40px 0;
    display: flex;
}
.banner_image {
    width: 100%;
}

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category-items, .items-container {
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item {
    width: 250px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer_container {
    padding: 30px 30px 40px 0px;
    background: #040b11;
    display: flex;
    justify-content:space-between;
}

.footer_column {
    display:flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #0f28a7;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: rgb(42, 165, 79);
    text-align:center;
    font-size: 20px;
    
    color: #3f2829;
    padding: 15px;
}

.items-container {
    width: 80%;
    margin: 40px 10%;
}
.item-container {
    width: 250px;
    margin: 10px;
    scroll-margin-inline-start:initial ;
}
.item-image {
    width: 100%;
    scroll-behavior: inherit;
}
.rating {
    font-size: 12px;
    font-weight: 700;
}
.company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #cf1937c7;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}
.price {
    margin-top: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}
.current-price {
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}
.original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.discount {
    color:tomato;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.btn-add-bag {
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
    background-color:rgb(150, 0, 00);
    color: rgb(150, 0, 00);
    border:#f16565;
    padding: 5px 15px;
    border-radius: 10px;
    cursor:grabbing;
}
.bag-item-count {
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: 13px;
    top: -44px;
    font-weight: 700;
    cursor: pointer;
}
.action_container {
    text-decoration: none;
}
a.action_container:link {
    color:black;
}

.bag-items-container {
    display: inline-block;
    width: 64%;
    padding-right: 20px;
    border-right: 1px solid #eaeaec;
    padding-top: 32px;
    color:#282c3f;
    font-size: 13px;
    line-height: 1.42857143;
}

.bag-page {
    width: 75%;
    margin-left: 12.5%;
}

.bag-summary {
    vertical-align: top;
    display: inline-block;
    width: 35%;
    padding: 24px 0 0 16px;
    color:#282c3f;
    font-size: 13px;
    line-height: 1.42857143;
}

.bag-details-container{
    margin-bottom: 16px;
}

.price-header{
    font-size: 12px;
    font-weight: 700;
    margin: 24px 0 16px;
    color: #535766;
}

.price-item {
    margin-bottom: 12px;
    line-height: 16px;
    font-size: 14px;
    color:#282c3f;

}

.price-item-value{
float: right;
}

.priceDetail-base-discount {
    color: #03a685;
}

.price-footer {
    font-weight:700;
    font-size: 15px;
    padding-top: 16px;
    border-top: 1px solid #eaeaec;
    color: #3e4152;
    line-height: 16px;
}
.btn-place-order{
    width:100%;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 70px;
    border-width: 0px;
    padding: 20px 6px;
    margin-bottom: 100px;
    background-color: rgb(150, 0, 00);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.btn-place-order2{
    box-shadow: #0f28a7;
    -moz-box-direction: reverse;

    width:100%;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 60px;
    border-width: 0px;
    padding: 15.7px 6px;
    background-color: rgb(1500, 0, 180);
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 13px;
}

.bag-item-container{
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part{
    position: absolute;
    background: rgb(255, 242, 223);
    height: 148px;
    width: 111px;   
}

.item-right-part{
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img{
    width:100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days{
    font-weight: 700;
    margin-right: 4px;
}

.delivery-details{
    margin-top: 5px;
    color:#282c3f;
    font-size: 12px;
    letter-spacing: -.1px;
    margin-bottom: 8px;
    line-height: 15px;
}

.delivery-details-days {
    color: #03a685;
}

.remove-from-cart{
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 18px;
    width: 14px;
    height: 14px;
    cursor: pointer;
} 

.spinner {
    margin: 100px 0px;
}